.main{

    width: 600px;
    margin: 0 auto;
}

h1{
    text-align: center;
}

.main img{
    width: 600px;
    height: 300px
}

.main p{
        
        font-family: sans-serif;
        text-align: left;
        line-height: 1.5em;

}



.buttons{
    display: inline-block;
    margin-left: 94px;
}

.buttons button{
    width: 150;
    height: 40;
    font-weight: bold;
    font-size: 21px;
    margin-right: 20px;
   
    
}
}